<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find low_level_autonomous_robot)/launch/spawn_urdf.launch">
        <arg name="x" value="0.0" />
        <arg name="y" value="0.0" />
        <arg name="z" value="0.7" />
        <arg name="urdf_robot_file" value="$(find low_level_autonomous_robot)/urdf/low_level.urdf"/>
        <arg name="robot_name" value="low_level" />
    </include>
</launch>